---
import Comment from './Comment.astro';
import comments from './CommentsData';
import UserInput from './UserInput.astro';
---

<section class='px-4 w-full max-w-4xl'>
  <div class='flex flex-row items-center justify-between font-bold'>
    <h1>80 comments</h1>
    <p class='text-xs'>Sort by: Top</p>
  </div>
  <hr class='my-3 h-[2px] bg-slate-50' />
  {
    comments.map((comment) => (
      <Comment
        id={comment.id}
        name={comment.name}
        comment={comment.comment}
        likes={comment.likes}
        time={comment.time}
        isSubComment={comment.isSubComment}
      />
    ))
  }
  <UserInput />
</section>
