---
import { getDictionary } from '@i18n/getDictionary';
import { findBestMatchingLocale } from '@utils/languageDetection/languageDetection';
import { defaultLocale, type TValidLocale } from '@config/globalConfig';
import FinanceSurveyLayout from './FinanceSurveyLayout.astro';
import type { TFinanceDictionary } from '@i18n/2025/en';
import Button from '@components/Button';
let locale: TValidLocale;

const getLocale = () => {
  const matchedLocale = findBestMatchingLocale(Astro.request.headers.get('Accept-Language') || defaultLocale);
  return matchedLocale;
};

const suitableLocale = getLocale();

locale = suitableLocale;

const t = (await getDictionary(0, locale)) as TFinanceDictionary;
---

<FinanceSurveyLayout commentsData={t.CommentSection}>
  <section class='z-20 px-2 py-4'>
    <div class={'flex min-h-[70vh] max-w-2xl flex-col items-center justify-center gap-4 md:gap-8 rounded-md bg-neutral-900 px-2 py-4'}>
      <h1 class={'text-2xl font-bold uppercase tracking-widest md:text-4xl'}>{t.Offer.Title}</h1>
      <p class={' text-center text-sm sm:text-base md:text-xl'}>
        {t.Offer.result.p1}<span class={'uppercase text-emerald-400'}> {t.Offer.result.p2}</span>{t.Offer.result.p3}
      </p>
      <div class={'flex flex-col items-start justify-start gap-4'}>
        <p class={'text-sm sm:text-base md:text-lg'}>
          {t.Offer.p1.p1}
          <span class={'uppercase text-emerald-400'}>{t.Offer.p1.p2}</span>{t.Offer.p1.p3}
        </p>
        <p class={' text-sm sm:text-base md:text-lg'}>
          {t.Offer.p2.p1}<span class={'text-emerald-400'}> {t.Offer.p2.p2}</span>{t.Offer.p2.p3}
        </p>
        <p class={' text-sm sm:text-base md:text-lg'}>{t.Offer.p3}</p>
        <p class={' text-sm sm:text-base md:text-lg'}>
          I{t.Offer.p4.p1}<span class={'text-emerald-400'}>{t.Offer.p4.p2}</span>{t.Offer.p4.p3}
        </p>
        <p class={' text-sm sm:text-base md:text-lg'}>{t.Offer.p5}</p>
      </div>
      <Button
        to='mainExit'
        variant={'finance'}
        rounded={'xl'}
        padding={'wider'}
        fontSize={'2xl'}
        client:only='preact'
        className={'uppercase font-bold text-xl sm:text-xl md:text-2xl lg:text-2xl'}
      >
        {t.Offer.button}
      </Button>
    </div>
  </section>
  <div class='rain'></div>
</FinanceSurveyLayout>
